body {

    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange {
    color: orange;

}

section {
    display: flex;
}

.width img {
    width: 70%;


}

.width {
    width: 50%;
    padding-left: 5%;
}


.button {
    text-decoration: none;
    background-image: linear-gradient(rgb(14, 135, 227), rgb(60, 125, 248));
    color: aliceblue;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
}

.top {


    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}